@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ant-page-header-ghost {
  padding: 24px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #2b2b2b;
}
